bin/
redsqirl-webapp/src/main/webapp/pages/packages/
*~
.classpath
.project
.settings
.settings/*
redsqirl-webapp/src/main/webapp/WEB-INF/classes/
redsqirl-workflow/idiro.tm.task.in.Preference@73d6776d/
redsqirl-webapp/src/test/
redsqirl-webapp/src/main/webapp/WEB-INF/lib/
redsqirl-webapp/src/main/webapp/WEB-INF/.faces-config.xml.jsfdia
target/
redsqirl-repo/src/main/webapp/pages/

