bin/
idm-webapp/src/main/webapp/pages/packages/
*~
.classpath
.project
.settings
idm-webapp/src/main/webapp/WEB-INF/classes/
idm-workflow/idiro.tm.task.in.Preference@73d6776d/
idm-webapp/src/test/
idm-webapp/src/main/webapp/WEB-INF/lib/
idm-webapp/src/main/webapp/WEB-INF/.faces-config.xml.jsfdia
target/
