body {
	padding-left: 2%;
	font-family: Verdana;
}

h1 {
	text-align: center;
}

p {
	padding-left: 3%;
	width: 50%;
}

td {
	padding: 1% 7% 1% 0.5%;
}

h4 {
	padding-left: 12%;
}

h5 {
	padding-left: 12%;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: black;
}