html,body {
    font-family: Verdana, Geneva, sans-serif;
	height: 100%;
	width: 100%;
}

image {
	border-width: 0px;
}

input {
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
}

.shortMenuIcon {
	padding-right: 1px;
	border: solid 0px;
	width: 25px;
}

.fileSystemIcon {
	padding-bottom: 3px;
    padding-right: 3px;
    padding-top: 3px;
	border: solid 0px;
	width: 25px;
}

.footerIcon {
	padding: 0px;
	border: solid 1px;
	height: 40px;
	width: 40px;
}

.divMenu {
	border: 0px solid;
	border-radius:7px;
	padding: 0px 0px 3px;
	background-color: #87888c;
	margin-top: 10px;
}

.divMenuImage{
	margin-left: auto;
    margin-right: auto;
	width: 120px;
}

.divFooter {
	border: 0px solid;
	bottom: 0;
	position: absolute;
}

.canvas {
	border: 0px solid;
}

#tabsFooter {
	margin-top: 0em;
}

#tabsFooter li .ui-icon-close {
	float: left;
	margin: 0em 0.2em 0 0;
	cursor: pointer;
}

#canvas-tabs {
	margin-top: 0em;
}

#canvas-tabs li .ui-icon-close {
	float: left;
	margin: 0em 0.2em 0 0;
	cursor: pointer;
}

#tabRemote {
	margin-top: 0em;
}

#tabRemote li .ui-icon-close {
	float: left;
	margin: 0em 0.2em 0 0;
	cursor: pointer;
}

.splitterV {
	width: 1700px;
}

.splitterV div {
	overflow: auto;
}

.vsplitbar {
	width: 5px;
	background: #cab;
}

.hsplitbar {
	height: 5px;
	background: #cab;
}

.splitter {
	height: 800px;
	margin: 0em 0em;
}

.ui-state-default {
	background-color: #aca
}

.ui-state-hover {
	background-color: #bdb;
	cursor: move;
}

.ui-state-highlight {
	background-color: #add
}

.ui-state-error {
	background-color: #eaa
}

.splitter-pane {
	overflow: auto;
}

.splitter-bar-vertical {
	width: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal {
	height: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-vertical-docked {
	width: 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal-docked {
	height: 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}

.splitter-iframe-hide {
	visibility: hidden;
}

.divLogin {
	position: absolute;
	right: 45%;
	top: 25%;
}

.buttonLogin {
	margin-left: 95px;
	padding: 5px 25px;
}

.ui-tabs .ui-tabs-nav {
	position: relative;
	width: 10000px;
}

.spanButtons {
	margin-top: -20px;
	left: 800px;
	position: absolute;
	z-index: 10000;
	background:
		url("http://code.jquery.com/ui/1.10.0/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png")
		repeat-x scroll 50% 50% #CCCCCC;
	border: 1px solid #AAAAAA;
	color: #222222;
	font-weight: bold;
	height: 18px;
	width: 36px;
}

.buttonsArrowsLeft {
	border: medium hidden;
	height: 18px;
	width: 15px;
}

.buttonsArrowsRight {
	border: medium hidden;
	height: 18px;
	width: 15px;
}

#tabs1 {
	position: relative;
	float: left;
	margin-right: 30px;
}

#tabs2 {
	position: relative;
	float: left;
	margin-right: 30px;
}

.allTabs {
	display: none;
	position: absolute;
	background: #e6e6e6;
	/* right: 13px; */
	border: 1px solid lightgrey;
}

.allTabs a {
	display: block;
	padding: 10px;
	font-size: 14px;
	text-decoration: none;
}

.allTabs a:hover {
	background: #ffffff;
}

.allTabs .highlight {
	font-weight: bold;
}

canvas {
	-webkit-transform3d: translate(0, 0, 0);
	-moz-transform3d: translate(0, 0, 0);
	transform3d: translate(0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.canvas {
	-webkit-transform3d: translate(0, 0, 0);
	-moz-transform3d: translate(0, 0, 0);
	transform3d: translate(0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.table {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.tableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.tableOddRow {
	/* text-align:center; */
	background: none repeat scroll 0 0 #FFFFFFF;
}

.tableEvenRow {
	/* text-align:center; */
	background: none repeat scroll 0 0 #D3D3D3;
}

.message {
	font-size: 12 px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

.messageok {
	background: url("../image/icons/li_msg_ok.gif") no-repeat;
	padding-left: 20px;
	color: #336699;
}

.messageerro {
	background: url("../image/icons/li_msg_error.gif") no-repeat;
	padding-left: 20px;
	color: #000000;
}

.messagealert {
	background: url("../image/icons/li_msg_warn.gif") no-repeat;
	padding-left: 20px;
	color: #336699;
}

.rich-panel-body {
	padding: 0px;
}

#progressBar {
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}

#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px;
	width: 0;
	background-color: #0099ff;
}

.rich-progress-bar-width {
	width: 100%;
}

.help {
	position: absolute;
	background-color: #eeeeee;
	padding-left: 10%;
	padding-right: 10%;
	z-index: 9002;
	font-family:verdana;
}

.tooltip {
	left:30%;
	background-color: #111;
	position: absolute;
	z-index: 9001;
	width: 50%;	
}


/* Package css */
.order-table{   
    border-collapse:collapse;
}

.order-table-header{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:8px;
}

.order-table-odd-row{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;
    border-top:1px solid #BBBBBB;
}

.order-table-even-row{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}

#right{
    float:right;
    max-width:400px;
}

#left{
    float:left;
    max-width:600px;
}

#all{
    max-width:1000px;
    margin:0 auto;
}

/* Text CSS */


h1 {
    padding-top:3%;
    text-align: center;
    color: #505050 
}

h2 {
    color: #888888
}

h3 {
    color: #C0C0C0
}

h4 {
    padding-left: 12%;
}

h5 {
    padding-left: 12%;
}

p {
    padding-left: 3%;
    padding-right: 3%;
    /*width: 50%;*/
}

/* Images */

img {
    border: 0;
}

/* Table */

/* td {
    padding: 1% 7% 1% 0.5%;
}*/

table.firsttable {
    border:1px solid black;
    border-collapse:collapse;
    border-spacing:3;
}
table.firsttable tr{
    border-bottom:1px solid black;
    text-align:center;
    
}
table.firsttable td{
    border-right:1px solid black; 
}
table.secondtable {
    border-collapse:collapse;
    border:1px solid black; 
}
table.secondtable td{
    border-right:1px solid black;
    border-bottom:1px solid black;
    padding-right:2%;
    width:2%%;
}

.loadTableRadio{
	width:28px;
}
.loadTableName{
	width:80px;
}
.loadTableMap{
	width:50px;
}

/*top menu*/

.rich-toolbar{  
    border:none;
    background-image: url(); 
    background-color: transparent;
}  

.rich-ddmenu-label-select{
    background-color:  #c62127;
    border-color: #FFFFFF;
    width:100px;
    height:34px;
    color:  #FFFFFF;
    font-weight:normal;
    font-size:14px;
}

.rich-ddmenu-label{
	border:2px solid transparent;
	border-radius:7px;
	width:100px;
    height:34px;
    font-weight:normal;
    font-size:14px;
    text-align:center;
}

.rich-menu-list-border{
	border:2px solid #FFFFFF;
	border-radius:7px;
	width:154px;
	color:#dadbdd;
	background-color:  #dadbdd;
}

.rich-menu-item{
	text-align:left;
}

.rich-menu-item-hover{
	background-color:  #c62127;
	border: none;
	color:  #FFFFFF;
}


.rich-menu-list-bg{
	border-radius:7px;
	color:#dadbdd;
	background-color:  #dadbdd;
	width:154px;
	border:none;
	background-image: url(); 
}

.rich-menu-item-icon{
	visibility:hidden;
	color:  #3CBD3B;
	background-color:  #3CBD3B;
	width:144px;
}

/*gray menu bar*/
.topMenu{
	background-color:  #FFFFFF;
}


/*signout button*/
.signoutButton{
       background-image:url('../image/icons/button-red.png');
       width:110px;
       height:41px;
       text-align:center;
       color:  #FFFFFF;
       vertical-align: middle;
}

/*textFields*/
input[type=text]{
	background-color: #dadbdd;
	border-radius:7px;
	border:none;
}

/*gradient background on canvas*/
#body{
	background: linear-gradient(white,#7f7d7e);
}

/*transparent background on tabs*/
#tabs1{
	background-color: transparent;
	border: none;
}

/*transparent background on tabs*/
#tabs2{
	background-color: transparent;
	border: none;
}

#tabsFooter{
	background-color: transparent;
	border: none;
}

#tabFlowchart{
	background-color: transparent;
	border: none;
}

#splitterH{
	background-color: transparent;
	border: none;
}

#splitterDiv{
	background-color: transparent;
	border: none;
}


/*border around the canvas and tabs*/
#mainPanelDiv{
	border:2px solid #a2a3a5;
	border-radius:7px;
	padding:5px 5px 5px 5px;
}

/*tabs*/

.ulCss { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
}

.ulCssCanvas{ 
    padding: 0px; 
   	background: #b8b9bd; 
    border-width: 0px; 
    border-radius: 7px; 
}

.ulCss .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 0px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.ui-tabs .ui-tabs-panel {
	border: 1px solid #87888c;
	border-radius:7px;
	background: none;
	background-color: white;
	padding: 0px 0px 0px 0px;
}

/*vertical and horizontal splitter*/
div.splitter-bar.ui-state-default {
	background-color:transparent;
	background-image: url();
	border:none;
}
div.splitter-bar.ui-state-hover {
	border:2px dashed #a2a3a5;
}
div.splitter-bar.ui-state-highlight {
	background-color:transparent;
	background-image: url();
	border:2px dashed #a2a3a5;
}

/*remove the white boxes in the background*/
.ui-widget.ui-widget-content{
	background-image: url();
}

/*legend panel*/
.rich-panel-header{
	border:none;
	background-color:#dadbdd;
	background-image: url();
	border-radius: 7px;
}

.rich-panel.headerLegend{
	border:none;
	background-color:transparent;
}

/*white selected tab on canvas*/
#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
	{
	cursor: pointer;
	background-color: #FFFFFF;
	color: #000000;
}

#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#tabsFooter.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-loading a
	{
	cursor: pointer;
	background-color: #C62127;
	color: #FFFFFF;
}

/*red button to change tab*/
#changeTabTabs1,#changeTabTabs2,#changeTabCanvas{
	color:#C62127;
	background-color:transparent;
}

