body {
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
	padding-top:3%;
	text-align: center;
	color: #505050 
}

h2 {
    color: #888888
}

h3 {
    color: #C0C0C0
}

p {
	padding-left: 3%;
	padding-right: 3%;
	/*width: 50%;*/
}

td {
	padding: 1% 7% 1% 0.5%;
}

h4 {
	padding-left: 12%;
}

h5 {
	padding-left: 12%;
}

img {
	border: 0;
}

a {
    text-decoration:underline;
	/*text-decoration: none;*/
}
table.firsttable {
	border:1px solid black;
	border-collapse:collapse;
	border-spacing:3;
}
table.firsttable tr{
	border-bottom:1px solid black;
	text-align:center;
	
}
table.firsttable td{
	border-right:1px solid black; 
}
table.secondtable {
	border-collapse:collapse;
	border:1px solid black; 
}
table.secondtable td{
	border-right:1px solid black;
	border-bottom:1px solid black;
	padding-right:2%;
	width:2%%;
}
ul
{
    list-style-type: none;
}
