html,body {
	font-family: Verdana, Geneva, sans-serif;
	height: 100% !important;
	width: 100% !important;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.maxContent {
	width: 99.5%;
	height: 99.5%;
	overflow: auto;
}

image {
	border-width: 0px;
}

input {
	font-size: 12px;
	border-style: solid;
	border-width: 1px;
}

.shortMenuIcon {
	padding-right: 0px;
	border: solid 0px;
	width: 34px;
	vertical-align: middle;
}

.fileSystemIcon {
	padding-bottom: 3px;
	padding-right: 3px;
	padding-top: 3px;
	border: solid 0px;
	width: 35px;
}

.footerIcon {
	padding: 0px;
	border: solid 1px;
	height: 40px;
	width: 40px;
}

.divMenu {
	padding: 5px 5px 5px 5px;
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}

.fileSystem{
}

.pathHeader{
	padding: 5px 5px 5px 5px;
	background: linear-gradient(#f6f5f5, #c4c3c5);
}

#menuPanelGroup {
	border: 0px solid;
	border-radius: 7px;
	padding: 0px 0px 3px;
	background-color: #87888c;
	margin-top: 10px;
	background: url();
}

.divMenuImage {
	float: right;
}

.divFooter {
	border: 0px solid;
	bottom: 0;
	position: absolute;
}

.canvas {
	border: 0px solid;
}

#tabsFooter li .ui-icon-close {
	float: left;
	margin: 0em 0em 0 0;
	cursor: pointer;
}

#canvas-tabs {
	border-left:1px solid #e3e2db;
	border-right:1px solid #e3e2db;
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
	border-radius : 4px;
	box-shadow: 0px 2px 5px #888888;
}

#canvas-tabs li .ui-icon-close {
	float: left;
	margin: 0em 0.2em 0 0;
	cursor: pointer;
}

.canvasTabsInactive{
	background-color:#C0C0C0 !important;
	height: 25px !important;
	line-height: 25px !important;
	color:black !important;
	border-bottom-right-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

li[aria-selected='false']>a.canvasTab{
	
background-color:transparent !important;
color:black !important;
line-height:25px !important;
}

#tabRemote {
	margin-top: 0em;
}

#tabRemote li .ui-icon-close {
	float: left;
	margin: 0em 0.2em 0 0;
	cursor: pointer;
}

.splitVCanvas {
	width: 100%;
}

.splitVCanvas div {
	overflow: auto;
}

.vsplitbar {
	width: 5px;
	background: #cab;
}

.hsplitbar {
	height: 5px;
	background: #cab;
}

.splitter {
	height: 800px;
	margin: 0em 0em;
}

.ui-state-default {
	/*background-color: #aca*/
}

.ui-state-hover {
	background-color: #bdb;
	cursor: move;
}

.ui-state-highlight {
	background-color: #add
}

.ui-state-error {
	background-color: #eaa
}

.splitter-pane {
	overflow: auto;
}

.splitter-bar-vertical {
	width: 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal {
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-vertical-docked {
	width: 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar-horizontal-docked {
	height: 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.splitter-bar.ui-state-highlight {
	opacity: 0.7;
}

.splitter-iframe-hide {
	visibility: hidden;
}

.divLogin {
	position: absolute;
	right: 42%;
	top: 22%;
}

.buttonLogin {
	background: url(../image/button_login.gif) !important;
	background-size: 100% 100% !important;
	background-color: none;
	padding: 5px 25px;
	border: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.ui-tabs .ui-tabs-nav {
	position: relative;
	width: 1200px;
	width: 100% !important;
}

.spanButtons {
	margin-top: -35px;
	left: 800px;
	position: absolute;
	z-index: 10000;
	background: url();
	background-color: transparent;
	border: none;
	color: #222222;
	font-weight: bold;
	height: 38px;
	width: 80px;
}

.buttonsArrowsLeft,.buttonsArrowsRight {
	padding: 0px 0px 0px 0px;
	border: none;
	height: 30px;
	width: 30px;
	background-color: transparent;
}

#buttonsTabs1.spanButtons,#buttonsTabs2.spanButtons {
	margin-top: -35px;
	margin-left: -20px;
	height: 22px;
	width: 100px;
}

#buttonsTabs1 .buttonsArrowsLeft,#buttonsTabs2 .buttonsArrowsLeft,#buttonsTabs1 .buttonsArrowsRight,#buttonsTabs2 .buttonsArrowsRight
	{
	height: 22px;
	width: 22px;
}

#browserProperties{
	height: 100% !important;
}

#tabs1 {
	position: relative;
	float: left;
	margin-right: 30px;
}

#tabs2 {
	position: relative;
	float: left;
	margin-right: 30px;
}

.allTabs {
	display: none;
	position: absolute;
	background: #e6e6e6;
	/* right: 13px; */
	border: 1px solid lightgrey;
	border-radius: 7px;
	z-index: 500;
}

.allTabs a {
	display: block;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.allTabs a:hover {
	background: #C62127;
	color: white;
}

.allTabs .highlight {
	font-weight: bold;
}

canvas {
	-webkit-transform3d: translate(0, 0, 0);
	-moz-transform3d: translate(0, 0, 0);
	transform3d: translate(0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.canvas {
	-webkit-transform3d: translate(0, 0, 0);
	-moz-transform3d: translate(0, 0, 0);
	transform3d: translate(0, 0, 0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.table {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.tableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.tableOddRow {
	/* text-align:center; */
	background: none repeat scroll 0 0 #FFFFFFF;
}

.tableEvenRow {
	/* text-align:center; */
	background: none repeat scroll 0 0 #f8e1c8;
}

table[id*="msnError"]{
	/* height:300px;
	max-height:400px; */
}

#msg dt{
	/* max-height:60%;*/
	height:100%;
	overflow:auto;
}
.rich-messages-label{
	/* padding-left:10px; */
	overflow:auto;
}

.message {
	font-size: 12 px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	text-align:left;
	height:70%; 
	position:relative;
}

.messageok {
	background: url("../image/icons/li_msg_ok.gif") no-repeat;
	background-position: top left;
	padding-left: 30px;
	height:35px;
	color: #336699;
}

.messageerro {
	background: url("../image/icons/li_msg_error.gif") no-repeat;
	height:35px;
	padding-left: 30px;
	background-position: top left;
	color: #000000;
}

.messageerrologin {
	background: url("../image/icons/li_msg_error.gif") no-repeat;
	background-size: 15px;
	height:25px;
	padding-left: 10px;
	color: #FFFFFF;
	background-position: top left;
	overflow:auto;
}

.messagealert {
	background: url("../image/icons/li_msg_warn.gif") no-repeat;
	padding-left: 20px;
	height:35px;
	color: #336699;
	background-position: top left;
	overflow:auto;
}

.rich-panel-body {
	background-color:none;
	padding: 0px;
}

#progressBar {
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}

#progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px;
	width: 0;
	background-color: #0099ff;
}

.rich-progress-bar-width {
	width: 100%;
}

.rich-progress-bar-completed {
	background-color: green;
	background-image: url(/image/progress_bar.gif);
	color: white;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
}

.rich-progress-bar-remained {
	height: 30px;
	color: white;
}

.help {
	position: absolute;
	background-color: #eeeeee;
	padding-left: 10%;
	padding-right: 10%;
	z-index: 9002;
	font-family: Verdana,Geneva,sans-serif;
}

#divTabHelp{
    font-size:12px;
}


/* Use in help files*/
div#body {
	background-color: white;
	background: none;
}

.tooltip {
	left: 30%;
	background-color: #111;
	position: absolute;
	z-index: 9001;
	width: 50%;
}

.tooltipCanvas {
	background-color: #E6E6E6;
    border: 2px outset #D3D3D3;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    max-width:400px;
}

.wfComment{
    background-color: #111;
    position: absolute;
    z-index: 9001;
}

/* Canvas Modal */
.noMaskClass .rich-mpnl-mask-div {
	display: none;
}

.wizzard_quick_navig{
    background-image:url('../image/green_arrow.gif');
    background-repeat: no-repeat;
    background-size: 485px 24px;
    height: 20px;
    width: 485px;
}

/* Package css */
.order-table {
	margin-left: 25px;
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 8px;
}

.order-table-header-help {
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 8px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

#right {
	float: right;
	max-width: 400px;
}

#left {
	float: left;
	max-width: 600px;
}

#all {
	max-width: 1000px;
	margin: 0 auto;
}

#errorForm{
	height:100%;
}

/* Text CSS */
h1 {
    font-size:20px;
	padding-top: 3%;
	text-align: center;
	color: #505050
}

h2 {
    font-size:18px;
	color: #888888
}

h3 {
    font-size:16px;
	color: #C0C0C0
}

h4 {
    font-size:14px;
	padding-left: 12%;
}

h5 {
    font-size:12px;
	padding-left: 12%;
}

p {
	padding-left: 3%;
	padding-right: 3%;
	/*width: 50%;*/
}

/* Images */
img {
	border: 0;
}

/* Table */

/* td {
    padding: 1% 7% 1% 0.5%;
}*/
table.firsttable {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 3;
}

table.firsttable tr {
	border-bottom: 1px solid black;
}

table.firsttable td {
	border-right: 1px solid black;
}

table.secondtable {
	border-collapse: collapse;
	border: 1px solid black;
}

table.secondtable td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 2%;
	width: 2%%;
}

#canvasModalBeanTextEditor .extdt-hsep {
    display: none;
}

.loadTableRadio {
	width: 28px;
}

.loadTableName {
	width: 80px;
}

.loadTableMap {
	width: 50px;
}

/*top menu*/
.rich-toolbar {
	border: none;
	background-image: url();
	background-color: transparent;
}

.rich-ddmenu-label-select {
	background-color: #c62127;
	border-color: #FFFFFF;
	width: 80px;
	height: 20px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 13px;
	padding: 0px 0px 0px 0px;
}

.rich-ddmenu-label {
	border: 2px solid transparent;
	border-radius: 7px;
	width: 80px;
	height: 20px;
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.rich-menu-list-border {
	border: 2px solid #FFFFFF;
	border-radius: 7px;
	/* width: 210px; */
	color: #dadbdd;
	background-color: #dadbdd;
}

.rich-menu-item {
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
}

.rich-menu-item-hover {
	border-radius: 7px;
	background-color: #c62127;
	border: none;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
}

.rich-menu-item a:hover {
	background-color: #c62127;
	border: none;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
}

.rich-menu-list-bg {
	border-radius: 7px;
	color: #dadbdd;
	background-color: #dadbdd;
	/* width: 210px; */
	border: none;
	background-image: url();
}

.admMenu{
	width: 160px !important;
}

.canvasMenu{
	width: 210px !important;
}

.rich-menu-item-icon {
	visibility: hidden;
	color: #3CBD3B;
	background-color: #3CBD3B;
	width: 144px;
}

.rich-menu-group {
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
}

.rich-menu-group-hover {
	background-color: #c62127;
	border: none;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
}

.menu {
	background: transparent;
}

.menuItemHotKey {
	position: absolute;
	right: 5px;
	color: grey;
}

/*gray menu bar*/
.topMenu {
	background-color: #FFFFFF;
}

/*signout button*/
.signoutButton {
	font-weight: bold;
	background-image: url('../image/icons/button-red.png');
	background-size: 100% 100%;
	width: 96px;
	height: 24px;
	text-align: center;
	color: #FFFFFF;
	vertical-align: middle;
	padding: 2px 10px 6px 10px;
}

/*textFields*/
.mainPageTextField {
	background-color: white;
	border-radius: 7px;
	border: none;
	padding-left: 5px;
}

.interModal {
	/*  background-color: white !important;
    border-radius:0px !important;
    border-width:1px !important;
    border-style: solid !important;
    */
}

/*gradient background on canvas*/
#body {/*	background: linear-gradient(white, #dadbdd, #dadbdd);*/
	background-color:#f3f4f2;
	margin: 0px;
	padding: 0px;
}

/*transparent background on tabs*/
#tabs1 {
	background-color: transparent;
	border: none;
}

/*transparent background on tabs*/
#tabs2 {
	background-color: transparent;
	border: none;
}

#tabsFooter {
	/* background-color: transparent; */
	padding-top : 0.25em;
	border: none;
}

#tabFlowchart {
	background-color: transparent;
	border: none;
	//margin-left:1.5em;
}

#splitHCanvas {
	background-color: transparent;
	border: none;
}

#splitterDiv {
	background-color: transparent;
	border: none;
}

/*border around the canvas and tabs*/
#mainPanelDiv {
	/*border: 2px solid #a2a3a5;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
	*/
	margin-right: 5px;
	margin-left: 15px;
}

/*tabs*/
.ulCss {
	padding: 0px;
	background: none;
	border-width: 0px;
}

.ulCssCanvas {
	padding: 0px;
	background: #b8b9bd;
	border-width: 0px;
	border-radius: 7px;
}

.ulCss .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 0px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.ui-tabs .ui-tabs-panel {
	border: 1px solid #87888c;
	border-radius: 9px;
	background: none;
	background-color: ;
	padding: 0px 0px 0px 0px;
}

.ui-tabs .ui-tabs-nav li a{
	padding-right:1.25em;
	padding-left:1.25em;
	height:32px;
	line-height:30px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

ui-tabs ui-widget ui-widget-content ui-corner-all{
	border-left: 1px solid #87888c;
	border-right: 1px solid #87888c;
	border-bottom: 1px solid #87888c;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
}

/*vertical and horizontal splitter*/
div.splitter-bar.ui-state-default {
	/*background-color: transparent;*/
	/*background-image: url();*/
	border: none;
}

div.splitter-bar.ui-state-hover {
	border: 2px dashed #a2a3a5;
}

div.splitter-bar.ui-state-highlight {
	background-color: transparent;
	background-image: url();
	border: 2px dashed #a2a3a5;
}

/*remove the white boxes in the background*/
.ui-widget.ui-widget-content {
	/*background-image: url();
	background-color: transparent;
	background: linear-gradient(#f5f4f6, #f3eef2);*/
}

/*legend panel*/
.rich-panel-header {
	border: none;
	background-color: #dadbdd;
	background-image: url();
	border-radius: 7px;
}

.rich-panel.headerLegend {
	border: none;
	background-color: transparent;
}

.rich-panel.headerComment{
    border:none;
    background-color:transparent;
}

/*white selected tab on canvas*/
#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active,#tabRemote.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #f7f4f4 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	/*height:25px;
	line-height:25px;*/
}

#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #c62127 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	/*height:25px;
	line-height:25px;*/
}

#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#canvas-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-loading a,#tabRemote.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#tabRemote.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#tabRemote.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: pointer;
	background-color: transparent !important;
	color: #c5161d;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

#canvas-tabs.ui-tabs .ui-tabs-nav li a,#tabRemote.ui-tabs .ui-tabs-nav li a {
	/*background-color: transparent !important;*/
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 30px;
	line-height: 30px;
	background-color: #646464;
}

/*
.canvasTab{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
**/

.footerTab{
	background-color: #c6161d !important;
	border-bottom-right-radius:0px !important;
	border-bottom-left-radius:0px !important;
}

#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: transparent ;
}

#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-active a,#tabsFooter.ui-tabs .ui-tabs-nav li.ui-state-disabled a,#tabsFooter.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	height: 32px;
	line-height: 30px;
	cursor: pointer;
	background-color: #c6161d;
	color: #FFFFFF;
	/*border-radius:7px;*/
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-right:1.25em;
	padding-left:1.25em;
}

#tabsFooter.ui-tabs .ui-tabs-nav li a {
	/*border-radius:7px;*/
	padding-right:1.25em;
	padding-left:1.25em;
	/*padding-top:1.25em;
	padding-bottom:1.25em;*/
	height:32px;
	line-height:30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 0em;
}

.canvasFooter {
	font-family: Verdana, Arial, sans-serif;
	left: 0px;
	position: relative;
	width: 10%;
}

.tabBorder{
	border-left:1px solid #e3e2db !important;
	border-right:1px solid #e3e2db !important;
	border-bottom:1px solid #e3e2db !important;
	border-top:0px !important;
	border-radius:4px !important;
}

/*Overide Plugin Behaviour -------------------*/

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	border-top-left-radius:0px;
	border-bottom-right-radius:0px;
}
.ui-widget-header {
	/*border:0px;*/
	border:none;
	border-bottom-left-radius:0px;
	border-bottom-radius:3px;
	border-bottom: 3px solid #c6161d;
	background: none;
}

.ui-tabs{
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.ui-tabs .ui-tabs-panel{
	height:100%;
	background: linear-gradient(#e1e2e1,#e2e2e2);
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	border:0px;
	border-radius:0px;
}


.ui-widget-content{
	border-left:1px;
	border-right:1px;
	border-top:0px;
	border-bottom:1px;
}

/*Splitter backround*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:none;
	background-color:transparent;
	
}

.removeDefaults{
	margin:0px !important;
	border-bottom:0px;
	border-radius:0px !important;
	border-top-left-radius:0px !important;
	
}

.topBanner{
	background: linear-gradient(#d6d6d6, #a4a4a4);
	padding-left:1em;
	padding-top:0.75em;
	padding-bottom:0.75em;
}
/*-----------------------*/
/*red button to change tab*/
#changeTabTabs1,#changeTabTabs2,#changeTabCanvas {
	color: #c6161d;
	background-color: transparent;
}

.refreshButton {
	padding-left: 5px;
	padding-bottom: 1px;
	vertical-align: middle;
	width: 35px;
}

.configureFooterButton {
	padding-top: 0px;
	vertical-align: middle;
}

/*remove border of canvas*/
.container-canvas.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
	border: none;
	overflow: auto;
}

#tabsFooter .ui-tabs-panel.ui-widget-content.ui-corner-bottom {
	overflow: auto;
}


.rich-extdt-maindiv {
	height: 100% !important;
}

.rich-extdt-maindiv,.extdt-innerdiv {
	position: relative !important;
}

.extdt-outerdiv {
	/*height: auto !important;*/
	overflow: visible !important;
}

/*filesystem table*/
.extdt-content{
	height: 23em;
	/* height: inherit !important; */
}

/*extendeddatatable skin*/
.even-row {
	background-color: #FFFFFF;
}

.odd-row {
	background-color: #f8e1c8;
}

.rich-extdt-maindiv {
	border-radius: 7px;
}

.rich-extdt-subheadercell {
	background-color: transparent;
	border-top: none;
	border-bottom: none;
	border-left: 2px solid #FFFFFF;
}

.rich-extdt-headercell {
	background-color: transparent;
	border-top: none;
	border-bottom: none;
	border-left: 2px solid #FFFFFF;
}

.rich-extdt-subheadercell:first-child {
	border: none;
}

.rich-extdt-row {
	border: none;
}

.rich-extdt-cell {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #b8b9bd;
}

.rich-extdt-cell:first-child {
	border: none
}

.extdt-subheader.rich-extdt-subheader {
	background-color: transparent;
	color: transparent;
	border: none;
}

.extdt-table-filterrow.rich-extdt-subheader {
	background-color: transparent;
	color: transparent;
	border: none;
}

.extdt-thead {
	background-color: #e1e1e1;
	display: table-header-group;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/*scrollable data table*/
.rich-sdt-column-cell {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #b8b9bd;
}

.rich-sdt-header-cell:first-child {
	border: none;
}

.rich-sdt-header-cell {
	background-color: #e1e1e1;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: 1px solid #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 3px;
}

.rich-sdt-row-selected {
	color: #000000;
}

.rich-sdt-hsep {
	background-image: url();
}

/* popup Window */
.rich-mpnl-content {
	border-radius: 10px;
}

.rich-mpnl-header {
	vertical-align: middle;
	font-size: 15px;
	border-radius: 10px;
	background-color: #C62127;
	color: white;
	background-image: none;
	height: 20px;
	padding-left: 10px;
	margin-left: -2px;
	margin-right: -1px;
	margin-top: -1px;
}

.rich-mpnl-body {
	background: linear-gradient(#f5f4f6, #f3eef2);
	
}

.rich-mpnl-controls {
	margin-right: 7px;
}

.greenButton {
	height: 30px;
	border-radius: 7px;
	background-color: #006400 !important;
	color: white !important;
	font-weight: bold;
}

.rich-tabpanel {
	border: none;
	border-collapse: collapse !important;
}

.rich-tabpanel img[src="/redsqirl-webapp/a4j/g/3_3_3.Finalimages/spacer.gif.xhtml"] {
	display: none;
}

.dr-tbpnl-tbbrdr {
	background-image: none;
}

.rich-tabhdr-side-cell {
	border: none;
}

.rich-tabhdr-cell-active {
	border: none;
}

.rich-tabpanel-content {
	border: none;
	border-radius: 10px;
}

.rich-tab-bottom-line {
	border: none;
}

.rich-tabhdr-side-cell {
	border: none;
}

.rich-tabhdr-side-borde {
	border: none;
}

.rich-tab-inactive {
	background-color: #b8b9bd;
	color: white;
	background-image: none;
	height: 12px;
	border-radius: 7px;
	font-weight: bold;
}

.rich-tab-active {
	background-color: #006400;
	color: white;
	background-image: none;
	height: 12px;
	border-radius: 7px;
	font-weight: bold;
}

.panelGroupHeader {
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.tableInteractionInput {
	width: 95% !important;
}

.tableInteractionTextEditor {
	width: 85% !important;
}

.rich-table-subheader {
	background-color: #e1e1e1;
}

.rich-table-subheadercell {
	border-right: 1px solid #FFFFFF;
	color: #000000;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 11px;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}

/* Context menu */
/* =============================== */
.context-menu-theme-default {
	border: 2px outset lightgrey;
	background-color: #e6e6e6;
	border-radius: 5px;
}

.context-menu-theme-default .context-menu-item {
	text-align: left;
	cursor: pointer;
	padding: 4px 28px 4px 16px;
	color: black;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-radius: 5px;
}

.context-menu-theme-default .context-menu-separator {
	margin: 4px 2px;
	font-size: 0px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid white;
}

.context-menu-theme-default .context-menu-item-disabled {
	color: #808080;
}

.context-menu-theme-default .context-menu-item .context-menu-item-inner {
	background: none no-repeat fixed 999px 999px;
	/* Make sure icons don't appear */
}

.context-menu-theme-default .context-menu-item-hover {
	background-color: #C62127;
	background : linear-gradient(#ea1b23,#b2030b);
	color: white;
}

.context-menu-theme-default .context-menu-item-disabled-hover {
	background-color: #C62127;
	color: white;
}

.kineticjs-content {
	margin-left: 0px;
}

#tabFlowchart-1 {
	border: none;
	background:transparent;
}

.questionMarkIcon {
	border: 0 solid;
	padding-bottom: 0;
	padding-right: 6px;
	padding-top: 0;
	width: 17px;
	margin-bottom: -3px;
}

.rich-shuttle-source-items {
	margin: 0 0 0px 4px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.bt {
	width: 35px;
}

.btConfigureFooter {
	width: 25px;
}

.btfileSystem {
	padding-bottom: 3px;
	padding-right: 3px;
	padding-top: 3px;
	border: solid 0px;
	width: 25px;
}

#modalChangeIdContentDiv {
	overflow: hidden !important;
}
