h1 {
    padding-top:3%;
    text-align: center;
    color: #505050 
}

h2 {
    color: #333;
    font-size: 70px;
    text-align: center;
}

h3 {
    color: #333;
    font-family: arial;
    font-size: 3em;
    font-weight: 500;
}

h4 {
    padding-left: 1%;
}

h5 {
    padding-left: 1%;
}

.nav-list>li>a{
    color:black;
    font-weight:bold;
}

.nav-list>.active>a, .nav-list>.active>a:hover{
    background-color:#c62127;
    color:white;
    font-weight:bold;
}

.nav-list>li>a:hover{
    background-color:#c62127;
    color:white;
    font-weight:bold;
}

label {
    display: inline !important;
    margin-bottom: 5px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    height: 50px;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    height: 50px !important;
}

.container {
	width: 100% !important;
}

.customfooter{
	display: none;
}

.poweredBy{
	display: none !important;
}

